<!--------------------- HEADER -------------------------------------------->
<header class="header-wrapper">  
    <nav class="navbar navbar-expand-lg navbar-dark"> 
      <!---------- HEADER DIVISION ------------------->
      <div class="row header-row">
        <!----------COLUMN 1(LOGO/BRAND NAME)------------------->
        <div class="col-md-3">
            <a class="navbar-brand" href="#">
                <img src="../assets/td_logo1.png" width="50" height="50" class="d-inline-block align-top" alt="LOGO">
                <span class="header-brand"><b>TD Insurance</b></span>
            </a>
        </div>
        
        <!----------COLUMN 2 (LIST)------------------->
        <div class="col-md-5 navbar-list">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-item nav-link active" routerLink="#">Products<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-item nav-link" routerLink="#">Claims<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-item nav-link" routerLink="#">Contact Us<span class="sr-only">(current)</span></a>
                  </li>            
                </ul>
            </div>
        </div>
        
        <!----------COLUMN 3 (LIST)------------------->
        
        <div class="col-md-4">
          <ul type="none" class="header-ul">
            <li>
               <!--------DROPDOWN FOR COUNTRY-------->
              <div class="dropdown">
                <button class="dropbtn">Ontario</button>
                <div class="dropdown-content">
                  <a href="#">Alberta</a>
                  <a href="#">British Columbia</a>
                  <a href="#">Manitoba</a>
                </div>
              </div>
            </li>
            <li>
              <!--------DROPDOWN FOR LANGUAGE-------->
              <div class="dropdown">
                <button class="dropbtn">En</button>
                <div class="dropdown-content">
                  <a href="#">Fr</a>
                </div>
              </div>
            </li>
            <li><a href="#"><i class="fa fa-search"></i></a></li>
            <li><a href="#"><i class="fa fa-lock"></i></a></li>
          </ul>      
        </div>
        <!----------END ROW------------------->
      </div>
    </nav>
  </header>
