<!------------------- FOOTER COMPONENT --------------->
<footer class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="row" style="padding:50px;"></div>
          <div><img src="../assets/sofa.png" class="image-style"alt="Image" height="100%" width="100%"/></div>
        </div>
        <div class="col-md-7">
            <div class="footer-content">
                <p class="footer-heading">Need to talk to us directly? 
                  <a href="#" style="color: rgb(14, 194, 14)">Contact us ></a>
                </p>
                <hr/>
                <!------------ FOOTER LINKS ---------------------->
                <div class="footer-link-wrapper">
                  <ul type="none" class="footer-links">
                    <li class="footer-li"><a href=#>Privacy and Security</a></li>
                    <li class="footer-li"><a href=#>Legal</a></li>
                    <li class="footer-li"><a href=#>Accessibility</a></li>
                    <li class="footer-li"><a href=#>About Us</a></li>
                    <li class="footer-li"><a href=#>Career</a></li>
                  </ul>
                </div>
                <!--------------- FOOTER LINKS END ------------------>
               <hr/>
               
               <!--------------- SOCIAL MEDIA LINKS ------------------->
                <div>
                  <ul type="none" class="footer-social-media">
                    <li>
                        <a href="https://facebook.com/tdbankgroup/"class="fa fa-facebook" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/td_canada" class="fa fa-twitter" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://youtube.com/td_canada"class="fa fa-youtube" target="_blank"></a>
                    </li>
                    <li>
                       <a href="#" class="fa fa-feed" target="_blank"></a>
                    </li>
                  </ul>
                </div>

                <!-------------- SOCIAL MEDIA LINKS END -------------------->
            </div> 
        </div>
       
        <div class="col-md-2"></div>
        
       
      </div>
      
    </div>
</footer>